/*CSS DOCUMENT*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;} /*My edited version of the Eric Meyer’s reset tool. You may want to include this in all of your future CSS files. */


div.home-container { 
	background: linear-gradient(
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)), 
url(cover-page-2.jpeg) center center fixed;
	background-size: cover;
	position: relative;
	min-height: 100vh;
    max-width: 70rem;
    margin:auto;

}

div.container { 
	position: relative;
	min-height: 100vh;
    max-width: 70rem;
    background-color: rgb(255, 255, 255);
    margin:auto;
	
}

/* >>> IMPORTANT: you have to change the wrap of the content of your home page (index) in a div with a class home-container to make it work. If you used a div with the class container on your home, you’ll only need to change the name of the class. And you need a div with the class container and all the other pages.  */


main { 
	padding: 2em 2em 4em 2em;
    
	}

img {
    width: 100%; /*Please leave this line.*/
     display: block;
	 border-radius: 1em;
	
}

header {
	display: grid;
	grid-template-columns: 2fr 3fr;
	background-color: rgb(255 209 220);
	padding: 1em 0.5em 2em 1em;
	}

h1 {
	width: 13em;
	
	
	}



h2 {
	font-size: 3em;
	margin: 1em 1em 0.25em 0em;
	font-family: "great-vibes", sans-serif;
	font-weight: 550;
	font-style: normal;
	}
	
h3 {
	font-size: 2em;
	font-family: "great-vibes", sans-serif;
	font-weight: 400;
	font-style: normal;
	margin: 1em 1.5em 0.5em 0em;
	
}
h4 {
		font-weight: bold;
		font-family: "ofelia-text", sans-serif;
		font-style: normal;
		font-weight: 600;
	}

body {
font-family: "ofelia-text", sans-serif;
	font-style: normal;
	font-weight: 400;
background-color: rgb(255 209 220);
}

a {
	text-decoration: none;
	}

nav ul li.selected a { 
   background-color:rgb(44 44 44);
   color: rgb(255 209 220); 
   border-radius: 0.5em;
   
   
}


nav ul  {
	text-align: right;
	}
	
ul li 	{
	list-style-type: none;
    margin: 0.25em;
	
}

figure {
	margin-bottom: 1em;
}

main.menu ul {
		margin: 2em 0em;

}	

main.menu ul li {
		margin: 1em 1em 1em 0em;
		display: grid;
		grid-template-columns: auto auto;
		grid-template-rows: auto auto;
}	

p {
	margin: 1em 0em 1em 0em;
	
	}
	
p.description {
	grid-column: 1/3;
    grid-row: 2/3;
	margin: 0em;
	}
	
p.price {
	grid-row: 1/2;
	grid-column: 2/3;
	color: rgb(35 111 33);
	text-align: right;
	margin: 0.25em;
	}
	
nav ul li {
	text-transform: uppercase;
	font-family: "ofelia-text", sans-serif;
	font-style: normal;
	font-weight: 600;
	padding: 1em 0em 0.5em 0em;

	
	}
	
nav ul li a {
	color: rgb(0 0 0);
	background-color: rgb(255 209 220);
	padding: 0.5em;
	}
	

p.slogan {
	font-size: 4em;
	font-family: "great-vibes", sans-serif;
	font-weight: 550;
	font-style: normal;
	margin: 1em 0em 2em;
	color: rgb(255, 255, 255);	
	}
	
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem; 
  box-sizing: border-box;
  padding: 1em;
  background: rgb(255 209 220);
}

address {
	color: rgb(0 0 0);
	font-family: "ofelia-text", sans-serif;
	font-style: italic;
	font-weight: 500;

	}

footer p {
	margin: 0;
	font-family: "ofelia-text", sans-serif;
	font-style: normal;
	font-weight: 400;
}

article {
    background-color:none;
    margin: auto;
    max-width: 40em;
    
}

@media screen and (min-width: 60em) {
    nav ul li {
	font-size: 1.5rem;
    display: inline;
	}

    nav {
        margin-top: 2rem;
    }

    main.menu ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em 1em;
}
    
    
}	
